html body {
  margin: 0;
  background-color: #ccc;
  overscroll-behavior: contain;
}

h1 {
  text-align: center;
  margin: 0;
}

#options {
  padding: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options > * {
  margin: auto;
}

.score {
  background-color: #aaa;
  padding: 10px;
  border-radius: 1vmin;
}

#options button {
  background-color: #aaa;
  padding: 10px;
  border-radius: 1vmin;
  border: 0;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 20vmin);
  grid-template-rows: repeat(4, 20vmin);
  background-color: #ccc;
  gap: 2vmin;
  border-radius: 1vmin;
  padding: 2vmin;
  position: relative;
  margin: 0 auto;
  justify-content: center;
}

.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
  width: 20vmin;
  height: 20vmin;
  border-radius: 1vmin;
  background-color: rgb(178, 209, 0);
}

.popUp {
  min-width: 70vmin;
  background-color: gray;
  top: 20vmin;
  left: 10vmin;
  position: absolute;
  visibility: hidden;
  justify-content: right;
}

#game-over {
  text-align: center;
  opacity: 80%;
}

.val2 {
  background-color: rgb(67, 255, 192);
}

.val4 {
  background-color: rgb(18, 247, 170);
}

.val8 {
  background-color: rgb(0, 207, 138);
}

.val16 {
  background-color: rgb(59, 255, 118);
}

.val32 {
  background-color: rgb(32, 248, 97);
}

.val64 {
  background-color: rgb(0, 255, 76);
}

.val128 {
  background-color: rgb(26, 204, 2);
}

.val256 {
  background-color: rgb(18, 153, 0);
}

.val512 {
  background-color: rgb(224, 255, 50);
}

.val1024 {
  background-color: rgb(210, 243, 24);
}

.val2048 {
  background-color: rgb(178, 209, 0);
}
